@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'hellohoney';
    src: url('../fonts/hello honey.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    scroll-behavior: smooth;
}

@keyframes floatPulse {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.1;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.3;
  }
}
@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}
@keyframes scroll-vertical-reverse {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.bubble {
  animation: floatPulse 8s infinite ease-in-out;
}

.animate-scroll-slow {
    animation: scroll-vertical 40s linear infinite;
}

.animate-scroll-fast {
    animation: scroll-vertical-reverse 30s linear infinite;
}
