@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'hellohoney';
    src: url('../fonts/hello honey.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    scroll-behavior: smooth;
}

@keyframes floatPulse {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.1;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.3;
  }
}

.bubble {
  animation: floatPulse 8s infinite ease-in-out;
}
