@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatPulse {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.1;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.3;
  }
}

.bubble {
  animation: floatPulse 8s infinite ease-in-out;
}
